.dashboard {
  position: fixed;
  display: flex;
  /* @apply bg-white z-[2]; */
}
.iconBar {
  margin-top: 0.6rem;
  @apply hidden lg:flex flex-col items-center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  @apply px-[2%] w-[100%] lg:w-[95%];
}
.row {
  display: flex;
  flex-direction: row;
}

.form img {
  width: 2rem;
  border: 1px solid lightgray;
  padding: 0px 10px;
}
.menu_bar {
  display: flex;
  flex-direction: row;
  place-items: center;
  overflow-x: auto;
  align-items: center;
  gap: 0.75rem;
}
.menu_bar::-webkit-scrollbar {
  display: none;
}
.each_bar {
  background-color: #f2f2f2;
  font-size: 1.2rem;
  border: 1px solid transparent;
  border-radius: 10px;
  @apply text-[1rem] px-[16px] lg:py-[6px] py-[3px]  cursor-pointer;
}
.moviesField {
  height: 100vh;
  overflow-x: hidden;
}
.moviesField::-webkit-scrollbar {
  display: none;
}
.moviesField .div {
  @apply grid grid-cols-1 lg:grid-cols-2 gap-[1rem] w-[100%] h-[100%];
}
.search {
  border: 1px solid lightgrey;
  border-radius: 0px 50px 50px 0px;
  background-color: #f9f9f9;
}
input {
  border-radius: 50px 0px 0px 50px;
}
.voice:hover {
  background-color: lightgray;
}
.arrow {
  @apply bg-white w-[35px] h-[35px] rounded-[53px] cursor-pointer relative z-[1] hover:bg-[#f2f2f2] p-[5px] hidden lg:flex;
}
.bar {
  @apply flex flex-row justify-around bg-white lg:flex-col lg:justify-center items-center lg:w-[100%] w-[100vw] mx-[5px] fixed bottom-0 left-[0]  lg:relative pt-[5px];
}
.bar div {
  @apply flex flex-col justify-center items-center lg:hover:bg-[lightgray] w-[100%] lg:h-[5.5rem] rounded-[15px] px-[5px];
}
.bar div:nth-child(5) {
  @apply lg:flex hidden;
}
.bar .icon {
  @apply w-[20px] h-[20px] lg:w-[25px] lg:h-[25px];
}
.bar div p {
  @apply text-[.65rem] lg:text-[.75rem];
}
.overlay {
  background-color: rgb(0, 0, 0, 0.6);
  @apply z-[1];
}
